body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #101e2c;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title-bar {
  -webkit-app-region: drag;
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.title-bar-actn-btns {
  align-items: center;
  display: flex;
  gap: 6px;
  margin-left: 90px;
}

.undraggable {
  -webkit-app-region: no-drag;
}

.find-on-page {
  width: min(25%, 380px);
}

.stop-start-agent {
  margin-right: 16px;
}
